body.base-active.bg-theme-2 {
  --color-bg: #10233b;
  --color-blob1: #50c9ff;
  --color-blob2: #7f9cf5;
  --color-blob3: #8cf7e2;
  --background-fix-top: #163251;
  --background-fix-bottom: #0f2034;
}
