body.base-active.bg-theme-3 {
  --color-bg: #241033;
  --color-blob1: #e28cff;
  --color-blob2: #b27dff;
  --color-blob3: #ff9ac8;
  --background-fix-top: #351649;
  --background-fix-bottom: #1f0f2e;
}
